.frame {
    border: 1px solid #ccc;
    border-radius: 50px 50px 0px 0px;
    background-color: #FFE7FF;
    /* padding: 20px; */
    width: 800px;
    /* margin: 0px 100px; */
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}